<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Trails</title>
    <link th:href="@{/BristolArt.css}" rel="stylesheet" />
</head>
<body>
<div class="btn-group">
    <button class="button" onclick = "window.location.href='Gallery3'" style="vertical-align:middle"><span>Gallery 3</span></button>
</div>

</body>
</html