<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery 5</title>
</head>
<body>

<script>
    function makeClickable(url) {
        return String.prototype.link ? url.link(url) : '<a href="'+url+'">'+url+'</a>';
    }
</script>

<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        var myObj = JSON.parse(this.responseText);
        document.write("Gallery 5".bold() + "<br>" + "<br>");
        if (myObj != null) {
            for (var i = 0; i < myObj.nhits; i++) {
                if (myObj.records[i].fields.gallery == "Gallery 5") {
                    if (myObj.records[i].fields.title_of_object != null) {
                        document.write("Title of Object: ".bold() + myObj.records[i].fields.title_of_object + "<br>")
                    }
                    if (myObj.records[i].fields.artist != null) {
                        document.write("Artist: ".bold() + myObj.records[i].fields.artist + "<br>")
                    }
                    if (myObj.records[i].fields.artist_s_birth_death != null) {
                        document.write("Artist`s Birth & Death: ".bold() + myObj.records[i].fields.artist_s_birth_death + "<br>")
                    }
                    if (myObj.records[i].fields.medium  != null) {
                        document.write("Medium: ".bold() + myObj.records[i].fields.medium  + "<br>")
                    }
                    if (myObj.records[i].fields.object_type != null) {
                        document.write("Object Type: ".bold() + myObj.records[i].fields.object_type + "<br>")
                    }
                    if (myObj.records[i].fields.year_of_creation != null) {
                        document.write("Label".bold() + "<br>" +  myObj.records[i].fields.label + "<br>")
                    }
                    if (myObj.records[i].fields.link_to_additional_information != null) {
                        var imageLink =  (myObj.records[i].fields.link_to_additional_information);
                        document.write("Link to additional information: ".bold() + makeClickable(imageLink) + "<br>")
                    }
                    document.write ("<br>");
                }
            }
        }

    };
    xmlhttp.open("GET", "https://opendata.bristol.gov.uk/api/records/1.0/search/?dataset=open-data-gallery-3-european-old-masters&q=&rows=115&sort=-order_of_appearance&facet=medium&facet=object_type", true);
    xmlhttp.send();
</script>

</body>
</html>