<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery 3</title>
    <link rel="stylesheet" href="./myStyle.css">
</head>
<body>

<div id = "gallery4"></div>

<script>
    function makeClickable(url) {
        return String.prototype.link ? url.link(url) : '<a href="'+url+'">'+url+'</a>';
    }
</script>

<script>
    let url = 'https://opendata.bristol.gov.uk/api/records/1.0/search/?dataset=open-data-gallery-3-european-old-masters&q=&rows=115&sort=-order_of_appearance&facet=medium&facet=object_type';
    fetch(url)
        .then(res => res.json())
        .then((out) => {

            document.getElementById("gallery4").innerHTML =
                `
                 <h1 class="gallery3-title"> GALLERY 4 </h1>

                 ${out.records.map(function (obj) {
                    if (obj.fields.gallery == "Gallery 4" && obj.fields.image_of_object) {
                        var artistBirthDeath = (obj.fields.artist_s_birth_death) ? obj.fields.artist_s_birth_death : "";
                        var linkToAdditionalInformation = (obj.fields.link_to_additional_information) ? "Additional information: " + makeClickable(obj.fields.link_to_additional_information) : "";

                        return `
                        <div class="object">
                            <img class="object-image" alt = "${obj.fields.title_of_object}" src="/images/${obj.fields.image_of_object.id}.jpg"/>
                            <h2 class="title-of-object"> <strong>${obj.fields.title_of_object}</strong></h2>
                            <h3 class="name-of-artist"> <strong>${obj.fields.artist}</strong></h3>
                            <h4 class="artist-birth-death"> <strong>${artistBirthDeath}</strong></h4>
                            <p> ${obj.fields.label}</p>
                            <p> ${linkToAdditionalInformation}</p>

                        </div>

                     `
                    }
                }).join('')}
                 <p>There are ${out.nhits} objects in all the galleries.</p>

                `
        })
        .catch(err => { throw err });
</script>

</body>
</html>