<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
      <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>History Trails</title>
          <link th:href="@{/myStyle.css}" rel="stylesheet" />
          <link th:href="@{/navbar.css}" rel="stylesheet" />
          <link th:href="@{/navbar.css}" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    </head>
<body>

<div id="navbar">
    <a class="title" href = "/"><h1>History Trails</h1></a>
    <div class="logos">
        <img src="../static/images/M_Shed_logo.jpg" alt = "MShed logo" height="50" width="50" th:src="@{images/M_Shed_logo.jpg}"/>
        <img src="../static/images/bristolMuseum_logo.png" alt = "Bristol Museums and Art Gallery logo" height="50" width="50" th:src="@{images/bristolMuseum_logo.png}"/>
    </div>

    <div class = "topnav">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="BristolArtGallery" class = "current_tab"><i class = "fas fa-landmark"></i> Bristol Art Gallery</a>
        <a href="MShed"><i class = "fas fa-landmark"></i>  M Shed</a>
        <a href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    </div>

</div>


<div class="content">

    <div class="container">
        <h1>Gallery 4</h1>
        <div id="searchWrapper">
            <input
                    type="text"
                    name="searchBar"
                    id="searchBar"
                    placeholder="Search for an object"
            />
        </div>
        <ul id="charactersList"></ul>
    </div>

    <script>
        function makeClickable(url) {
            return String.prototype.link ? "Additional Information".link(url) : '<a href="'+url+'">'+url+'</a>';
        }
    </script>

    <script>
        const charactersList = document.getElementById('charactersList');
        const searchBar = document.getElementById('searchBar');
        let hpCharacters = [];

        searchBar.addEventListener('keyup', (e) => {
            const searchString = e.target.value.toLowerCase();

            const filteredCharacters = hpCharacters.filter((obj) => {
                var artistName = (obj.fields.artist) ? obj.fields.artist : "";

                return (
                    obj.fields.title_of_object.toLowerCase().includes(searchString) ||
                    artistName.toLowerCase().includes(searchString)
                );
            });
            displayCharacters(filteredCharacters);
        });

        const loadCharacters = async () => {
            try {
                const res = await fetch('https://opendata.bristol.gov.uk/api/records/1.0/search/?dataset=open-data-gallery-3-european-old-masters&q=&rows=115&sort=-order_of_appearance&facet=medium&facet=object_type');
                hpCharacters = (await res.json()).records;
                displayCharacters(hpCharacters);
            } catch (err) {
                console.error(err);
            }
        };

        const displayCharacters = (out) => {
            const htmlString = out
                .map((obj) => {
                    if (obj.fields.gallery == "Gallery 3 - European Old Masters" && obj.fields.image_of_object) {
                        var artistBirthDeath = (obj.fields.artist_s_birth_death) ? obj.fields.artist_s_birth_death : "";
                        var linkToAdditionalInformation = (obj.fields.link_to_additional_information) ? makeClickable(obj.fields.link_to_additional_information) : "";
                        return `
                            <div class="object">
                                <div class = "object-top">
                                    <h2 class="title-of-object"> <strong>${obj.fields.title_of_object}</strong></h2>
                                    <h3 class="name-of-artist"> <strong>${obj.fields.artist}</strong></h3>
                                    <h4 class="artist-birth-death"> <strong>${artistBirthDeath}</strong></h4>
                                </div>
                                 <img class="object-image" alt = "${obj.fields.title_of_object}" src="/images/${obj.fields.image_of_object.id}.jpg"/>
                                <div class = "object-info">
                                    <p> ${obj.fields.label}</p>
                                    <p> ${linkToAdditionalInformation}</p>
                                </div>
                            </div>
                        `                    }
                })
                .join('');
            charactersList.innerHTML = htmlString;
        };

        loadCharacters();

    </script>
</div>


<div class="footer">
    <h3>Connect with us</h3>

    <div class="footer-row">
        <div class = "footer-column">
            <p>Bristol Museums<p>
        </div>
        <div class = "footer-column">
            <p>MShed</p>
        </div>
        <div class = "footer-column">
            <p>Bristol Museum & Art Gallery<p>

        </div>
    </div>

    <div class="footer-row">

        <div class = "footer-column">
            <a href="https://www.instagram.com/bristolmuseums/?hl=en"target="_blank" rel="noopener noreferrer" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/c/BristolmuseumsOrgUk" target="_blank" rel="noopener noreferrer" class="fab fa-youtube"></a>
        </div>
        <div class = "footer-column">

            <a href="https://www.facebook.com/mshedbristol/" target="_blank" rel="noopener noreferrer" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/mshedbristol" target="_blank" rel="noopener noreferrer" class="fab fa-twitter"></a>
        </div>
        <div class = "footer-column">
            <a href="https://www.facebook.com/BristolMuseumandArtGallery/"target="_blank" rel="noopener noreferrer" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/bristolmuseum" target="_blank" rel="noopener noreferrer" class="fab fa-twitter "></a>
        </div>
    </div>
</div>


<script src="../static/sticky-header.js" th:src="@{/sticky-header.js}"></script>
</body>
</html>
