<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Trails</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

</head>

<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="BristolArtGallery.html">Bristol Art Gallery</a>
    <a href="MShed.html">M Shed</a>
    <a href="contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
</div>

<div id="main">

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div class="header">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="../static/images/slideshow1.jpg" height="500px" width="100%" th:src="@{/images/slideshow1.jpg}"/>
            <div class="text">Bristol Museum & Art Gallery</div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../static/images/slideshow2.jpeg" height="500px" width="100%" th:src="@{/images/slideshow2.jpeg}"/>
            <div class="text">European Old Masters Gallery</div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../static/images/slideshow3.jpg" height="500px" width="100%" th:src="@{/images/slideshow3.jpg}"/>
            <div class="text">MShed</div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

    </div>
</div>

<div id="navbar">
    <a class ="sidebar">
    <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
    </a>

    <a class="title">
        <h1>History Trails</h1>
    </a>

    <a class="logos">
    <img src="../static/images/M_Shed_logo.jpg" height="50" width="50" th:src="@{images/M_Shed_logo.jpg}"/>
    <img src="../static/images/bristolMuseum_logo.png" height="50" width="50" th:src="@{images/bristolMuseum_logo.png}"/>
    </a>

</div>


<div class="content">
    <p>Free entry! Visit one of our locations today to explore our collections of art, film, photos, nature, personal accounts and history on display.</p>

    <div class = "row">
        <div class = "column">
            <img src="../static/images/dinosaur-gallery-museum-1557398307.jpg" width="30%" height = "300px" th:src="@{images/dinosaur-gallery-museum-1557398307.jpg}"/>
            <img src="../static/images/entry.php.jpeg"  width="30%" height = "300px"th:src="@{images/entry.php.jpeg}"/>
            <img src="../static/images/gallery1.jpeg"  width="30%" height = "300px" th:src="@{images/gallery1.jpeg}"/>

        </div>
        <div class = "column">
            <img src="../static/images/gallery2.jpeg" width="30%"  height = "300px" th:src="@{images/gallery2.jpeg}"/>
            <img src="../static/images/gallery3.jpeg"  width="30%" height = "300px" th:src="@{images/gallery3.jpeg}"/>
            <img src="../static/images/gallery4.jpeg"  width="30%" height = "300px" th:src="@{images/gallery4.jpeg}"/>

        </div>
        <div class = "column">
            <img src="../static/images/gallery5.jpeg"  width="30%" height = "300px" th:src="@{images/gallery5.jpeg}"/>
            <img src="../static/images/gallery6.jpeg"  width="30%" height = "300px" th:src="@{images/gallery6.jpeg}"/>
            <img src="../static/images/gallery7.jpeg"  width="30%" height = "300px" th:src="@{images/gallery7.jpeg}"/>

        </div>
    </div>
</div>
    <div class="footer">
        <div class="footer-text">Bristol Museum & Art Gallery</div>
        <div class="footer-text">Shed</div>

    </div>
</div>



<script src="../static/sticky-header.js" th:src="@{/sticky-header.js}"></script>

<script src="../static/slideshow.js" th:src="@{/slideshow.js}"></script>
<script src="../static/sidenav.js" th:src="@{/sidenav.js}"></script>





<!--&lt;!&ndash; Load React. &ndash;&gt;-->
<!--&lt;!&ndash; Note: when deploying, replace "development.js" with "production.min.js". &ndash;&gt;-->
<!--<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>-->
<!--<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>-->

<!--&lt;!&ndash; Load our React component. &ndash;&gt;-->
<!--<script src="like_button.js"></script>-->

</body>
</html>