<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>History Trails</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>

<body>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <h1>History Trails</h1>
        <img src="/static/images/bristolMuseum_logo.png" alt = "bristol Museum Logo">
        <img src="M_Shed_logo.jpg" alt = "M Shed Logo">

    </div>


<!--<div class ="container">-->
<!--    <<div id="content">-->
<!--    <form class='form-inline'>-->
<!--        <div class="input-group">-->
<!--            <input type='text' id='search' class="form-control search-form" placeholder="Search">-->
<!--            <span class="input-group-btn" style="width:39px">-->
<!--              <button id="search-this"type="button" class="pull-right btn btn-default search-btn">-->
<!--                  <i class="fa fa-search"></i>-->
<!--              </button>-->
<!--            </span>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->


    <div class="btn-group">
        <button onclick = "window.location.href='QRCode.html'">Scan QR Code</button>
        <button onclick = "window.location.href='SearchGallery.html'">Browse through Galleries</button>
    </div>

<!--            <p><a href="QRCode.html">Scan QR Code</a></p>-->
<!--            <p><a href="SearchGallery.html">Browse through Galleries</a></p>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>