.button {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 25%;
    border-radius: 8px; /* makes button rounded */
    margin: 20%;
    cursor: pointer;
    transition: all 0.5s;



}
/*
.container .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.container .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.container .btn:hover span {
    padding-right: 25px;
}

.container .btn:hover span:after {
    opacity: 1;
    right: 0;
}
*/

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width:auto;
}

/* Make the image responsive */
.container img {
  width: 400;
  height: 400;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  color: white;
  font-family:Papyrus;
  font-size: 50px;
  padding: 15px 30px;
  border: 4px solid white;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.container .btn:hover {
  background-color: #555;
}
