body {
    /*background-image: url("images/museum_background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

p {
    color: black;
    text-align: center;
    font-size: larger;
}

h1{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 250%;
    font-weight: bold;

}

h2{
    text-align: center;
    font-size: 250%;


}

/*-----------header start (slideshow)------*/
.header {
    padding: 15px;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: black;

}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

/*----------header/ slideshow end--------*/

/*-----------top navbar start ------*/

#navbar{
    overflow: hidden;
    background-color: #333;
    z-index: 99;

}
#navbar a{
    /*font-size: 17px;*/
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logos{
    float:right;
    text-align: center;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}


/*.header .sidebar{*/
/*    !*text-align: left;*!*/
/*    !*padding-left: 40px;*!*/
/*    float:left;*/

/*}*/
/*.header title{*/
/*    float:left;*/
/*    color: white;*/
/*    !*font-size: ;*!*/
/*    padding: 10px;*/
/*    text-align: left;*/


/*}*/
/*-----------top navbar end ------*/


/*-------------Content--------------*/
.content {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


/*------image links to website----------*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 4px;

}

.row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 4px;
    background-color: black;

}

/* Create two equal columns that sits next to each other */
.column {
    flex: 40%;
    padding: 0 10%;
    text-align: center;
    display: inline;
    position: relative;
}
.image-fade {
    opacity: 1;
    display: block;
    /*transition: .5s ease;*/

}
.website-image:hover .image-fade{
    opacity:0.7;
}
.text-on-image{
    position: absolute;
    bottom: 20px;
    right: 20%;
    background-color: black;
    color: white;
    padding: 20px;
    opacity: 0.7;

}

.website-image:hover .text-on-image{
    opacity:1;
}


.center{
    display: block;
    margin-left: 25%;
    /*margin-right: 50px;*/
    width: 50%;
}

.right{
    /*float: left;*/
    align: left;
    /*flex: 40%;*/
    /*padding: 0 10%;*/
    /*text-align: center;*/
    /*display: inline;*/
    /*position: relative;*/
}

.white-text{
    margin-top: 20%;
    color: white;
    text-align: center;
    font-size: xx-large;
}



/*-------------sidebar ------------------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .current_tab{
    background-color: #555555;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*----------footer-------*/
.footer {
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    text-align: left;
    padding: 40px;
    margin-top: 30px;
    display:block;
}

.footer-text{
    color: white;
    padding:10px;

}


 /* SEARCH */

 * {
   box-sizing: border-box;
 }

 /* Style the search field */
 form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 15px #333;
   float: left;
   width: 80%;
   background: #f1f1f1;
 }

 /* Style the submit button */
 form.example button {
   float: left;
   width: 5%;
   padding: 10px;
   background: grey;
   color: white;
   font-size: 17px;
   border: 15px #333;
   border-left: none; /* Prevent double borders */
   cursor: pointer;
 }

 form.example button:hover {
   background: black;
 }

