body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}

h1{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 40px;
}



/*-----------header start (slideshow)------*/

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*----------header/ slideshow end--------*/



/*------image links to website----------*/
.row {
    padding: 30px 4px;
}

.column {
    float: left;
    width: 50%;
    flex: 40%;
    padding: 10px 10%;
    text-align: center;
    display: inline;
    position: relative;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 4px;
    background-color: black;
}

.image-fade {
    opacity: 1;
    display: block;
    float:left;
    /*transition: .5s ease;*/

}
.column a:hover .image-fade{
    opacity:0.7;
}
.column a:hover .gallery-description{
    opacity:0.7;
}
.column a:hover .text-on-image{
    opacity:1;
}
.text-on-image{
    position: absolute;
    width: 20%;
    bottom: 10px;
    right: 20%;
    background-color: black;
    color: white;
    padding: 20px;
    opacity: 0.5;

}
.gallery-description{
    width: 50%;
    background-color: #bbbbbb;
    float: left;
    height: 350px;
    text-align: center;
}


.gallery-description p{
    padding: 0 20px;
    font-size: 13px;
    text-align: left;
}


.center{
    display: block;
    margin-left: 25%;
    width: 50%;
}


.white-text{
    padding-bottom: 5%;
    color: white;
    text-align: center;
    font-size: 30px;
}
.gallery-description1{
    width: 50%;
    background-color: #bbbbbb;
    float: left;
    height: 350px;
    text-align: center;
}


.gallery-description1 p{
    padding: 0 20px;
    font-size: 16px;
    text-align: left;
}

/*-------------sidebar ------------------*/

@media screen and (max-width: 1100px) {
    .text-on-image{
        width: 30%;

    }
}
@media screen and (max-width: 800px) {
    .column{
        padding: 10px 5%;
    }
    .text-on-image{
        right: 10%;
    }
}

@media screen and (max-width: 600px) {
    /*header*/
    p{
        font-size: 16px;
    }
    h1{
        font-size: 20px;
    }
    h2{font-size: 20px;}
    .text {font-size: 11px}
    /*slideshow*/
    .mySlides img{
        height: 250px;
    }
    /*image links*/
    .row{
        padding: 0;
    }
    .column {
        width: 100%;
        padding: 10px 5%;

    }
    .text-on-image{
        right: 5%;
        font-size: 12px;
    }
    .center{
        width:90%;
        margin: 5%;
    }
    .white-text{
        font-size: 16px;
    }


}

/*-------------galleries------------------*/

/*
img {
    max-width: 100%;
    height: auto;
}


.gallery3-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
}

.object {
    max-width: 730px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
    overflow: hidden;
}

.object h4 {
    margin: 0 0 6px 0;
}

#searchWrapper {
    position: relative;
}

.title-of-object {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.object-image {
    float: left;
    width: 40%;
    margin-right: 15px;
}

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}







 /* SEARCH */


 /* Style the search field */
 /*form.example input[type=text] {*/
 /*  padding: 10px;*/
 /*  font-size: 17px;*/
 /*  border: 15px #333;*/
 /*  float: left;*/
 /*  width: 80%;*/
 /*  background: #f1f1f1;*/
 /*}*/

 /*!* Style the submit button *!*/
 /*form.example button {*/
 /*  float: left;*/
 /*  width: 5%;*/
 /*  padding: 10px;*/
 /*  background: grey;*/
 /*  color: white;*/
 /*  font-size: 17px;*/
 /*  border: 15px #333;*/
 /*  border-left: none; !* Prevent double borders *!*/
 /*  cursor: pointer;*/
 /*}*/

 /*form.example button:hover {*/
 /*  background: black;*/
 /*}*/


/* M SHED IMAGE WITH LINKS TO GALLERIES */

.column1 {
    float: left;
    width: 100%;
    flex: 50%;
    padding: 10px 10%;
    text-align: center;
    display: inline;
    position: relative;
}

.column1 a:hover .image-fade{
    opacity:0.7;
}
.column1 a:hover .gallery-description{
    opacity:0.7;
}
.column1 a:hover .text-on-image1{
    opacity:1;
}


.text-on-image1{
    position: absolute;
    width: 80%;
    background-color: black;
    color: white;
    padding: 15px;
    opacity: 0.6;

}


 @media screen and (max-width: 1100px) {


     .gallery-description p{
         padding: 0 20px;
         font-size: 10px;
         text-align: left;
     }
     .gallery-description1 p{
         padding: 0 20px;
         font-size: 12px;
         text-align: left;
     }

 }

  @media screen and (max-width: 1100px) {


      .content p{
          padding: 0 20px;
          font-size: 10px;
          text-align: left;
      }


  }




